src/main/mule/businessLogic.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:sap="http://www.mulesoft.org/schema/mule/sap" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
    xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">

    <flow name="businessLogicFlow" doc:id="759839c4-b32d-4e87-9d36-ce63694cb83c">
        <batch:job jobName="migrateProductsBatch" doc:id="5bd60a74-0002-4d70-ae4a-8211e67ae465" blockSize="${page.size}">
            <batch:process-records>
                <batch:step name="getProductInSalesforceStep" doc:id="ea03d64b-2837-4637-bb5f-3fbaa10d4131">
                    <salesforce:query-single doc:name="Query Product from Salesforce" doc:id="a9b937d0-ae5c-433a-904d-042f0a2ad7f3" config-ref="Salesforce_Config"
                        target="sfdcId" targetValue="#[payload.Id]">
                        <salesforce:salesforce-query>SELECT Id FROM Product2 WHERE ProductCode = ':productcode'
                        </salesforce:salesforce-query>
                        <salesforce:parameters><![CDATA[#[output application/java
---
{
	"productcode" : payload.ProductCode
}]]]></salesforce:parameters>
                    </salesforce:query-single>
                    <ee:transform doc:name="Set Id from matching Product" doc:id="df83c4b5-2b2f-4a6b-b6e3-1305aef40c29">
                        <ee:message>
                            <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
payload ++ {Id : vars.sfdcId}]]></ee:set-payload>
                        </ee:message>
                    </ee:transform>
					<logger level="INFO" doc:name="Log’s data input to Salesforce upsert" doc:id="d65b1348-1d07-488c-81f9-25d31af8a2ac" message="#[output application/json --- payload]"/>
                </batch:step>
                <batch:step name="upsertProductInSalesforceStep" doc:id="0faf8e94-bc67-4aec-a07f-685312d006ec">
                    <salesforce:upsert type="Product2" doc:name="Upsert Product in Salesforce" doc:id="9f5a6c25-8499-4866-9c2f-00441d36dded" externalIdFieldName="Id"
                        config-ref="Salesforce_Config">
						<salesforce:records ><![CDATA[#[[payload]]]]></salesforce:records>
                    </salesforce:upsert>
                    <logger level="INFO" doc:name="Log's result" doc:id="9373ad80-0edd-41d3-bcd6-fe36be0e252d" message="#[output application/json --- payload]" />
                </batch:step>
            </batch:process-records>
            <batch:on-complete>
                <ee:transform doc:name="Prepare migration result" doc:id="85e156ad-3072-444d-b837-f0e12f78b729">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output text/plain
---
"Migration Report: \n"

++ "\n Time [milliseconds]: "       ++ payload.elapsedTimeInMillis!
++ "\n Total Records: "             ++ payload.totalRecords!
++ "\n Successful Records: "        ++ payload.successfulRecords!
++ "\n Failed Records: "            ++ payload.failedRecords!
++ "\n Loaded Records: "            ++ payload.loadedRecords!
++ "\n Processed Records: "         ++ payload.processedRecords!]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
                <logger level="INFO" doc:name="Migration process has finished!" doc:id="da75121f-00a3-40eb-81b0-8a1495a80f14" message="Migration process has finished: #[payload]" />

            </batch:on-complete>
        </batch:job>
    </flow>
</mule>